<div id="charts">
	<table>
		<tr>
			<td><div id="radiantdamagechart"></div></td>
			<td><div id="diredamagechart"></div></td>
		</tr>
		<tr>
			<td><div id="radianttowerdamagechart"></div></td>
			<td><div id="diretowerdamagechart"></div></td>
		</tr>
		<tr>
			<td><div id="radiantgoldchart"></div></td>
			<td><div id="diregoldchart"></div></td>
		</tr>
	</table>
	<div id="testgoldchart"></div>
</div>
