
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<h2>Radiant <%= match.radiant_win ? "(Winner)" : "" %></h2>
<table class="table table-bordered">
	<th class="namecell">Player</th>
	<th class="namecell">Hero</th>
	<th>Kills</th>
	<th>Deaths</th>
	<th>Assists</th>
	<th>TFC</th>
	<th>GPM</th>
	<th>Hero Damage</th>
	<th>Tower Damage</th>
<% (0..4).each do |i| %>
	<%= render match.match_participations[i] %>
<% end %>
</table>

<h2>Dire <%= match.radiant_win ? "" : "(Winner)"%></h2>
<table class="table table-bordered">
	<th class="namecell">Player</th>
	<th class="namecell">Hero</th>
	<th>Kills</th>
	<th>Deaths</th>
	<th>Assists</th>
	<th>TFC</th>
	<th>GPM</th>
	<th>Hero Damage</th>
	<th>Tower Damage</th>
<% (5..9).each do |i| %>
	<%= render match.match_participations[i] %>
<% end %>
</table>

<div id="charts">
    <div id="radiantdamagechart" style="min-width:150px; height:200px; margin: 0 auto"></div>
    <div id="radianttowerdamagechart" style="min-width:150px; height:200px; margin: 0 auto"></div>
    <div id="radiantgoldchart" style="min-width:150px; height:200px; margin: 0 auto"></div>
    <div id="diredamagechart" style="min-width:150px; height:200px; margin: 0 auto"></div>
    <div id="diretowerdamagechart" style="min-width:150px; height:200px; margin: 0 auto"></div>
    <div id="diregoldchart" style="min-width:150px; height:200px; margin: 0 auto"></div>
</div>
