// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#charts {
	margin-top: 40px;
}

.charttitle {
	font-weight: bolder;
}

.chartsvg {
}

.basicstatstable td {
	text-align: right;
}

.namecell {
	min-width: 120px;
}

.wincell {
	background-color: #0F0;
}

.losscell {
	background-color: #F00;
}
